<hr>
<h1 style="text-align: center; font-size: 100px; background-color: rgb(184, 237, 237); ">
  <span style="color:green;">L</span>
  <span style="color:yellow">U</span>
  <span style="color:blue">D</span>
  <span style="color:red">O</span>
</h1>
<hr>
<div class="btn">
  <button [disabled] = "!canPlay" (click)="RollDice()">Dice</button>
</div>

<h1 [ngStyle]="{
  'color':getColor(turn),
 'text-align':'center',
 'font-size': '50px'
}">Player {{turn}} Turn</h1>

<hr>

<div class="game">
  <div class="house green">
      <div class="box">
      </div>
  </div>
  <div class="house yellow" style="right: 0;">
      <div class="box">
      </div>
  </div>

  <div class="house red" style="bottom: 0">
      <div class="box">
      </div>
  </div>

  <div class="house blue" style="bottom: 0;right: 0">
      <div class="box">
      </div>
  </div>

  <div class="home"></div>
  <div class="cells" style="top: 40%;"></div>
  <div id="gstart" class="cells green star" style="top: 40%;left:6.66%;">&#9734;</div>
  <div class="cells" style="top: 40%;left:13.32%;"></div>
  <div class="cells" style="top: 40%;left:19.98%;"></div>
  <div class="cells" style="top: 40%;left:26.64%;"></div>
  <div class="cells" style="top: 40%;left:33.3%;"></div>

  <div class="cells" style="top: 0;left:40%;"></div>
  <div class="cells" style="top: 6.66%;left:40%;"></div>
  <div class="cells star" style="top: 13.32%;left:40%;">&#9734;</div>
  <div class="cells" style="top: 19.98%;left:40%;"></div>
  <div class="cells" style="top: 26.64%;left:40%;"></div>
  <div class="cells" style="top: 33.3%;left:40%;"></div>

  <div class="cells" style="top: 0;left:46.66%;"></div>
  <div class="cells yellow" style="top: 6.66%;left:46.66%;"></div>
  <div class="cells yellow" style="top: 13.32%;left:46.66%;"></div>
  <div class="cells yellow" style="top: 19.98%;left:46.66%;"></div>
  <div class="cells yellow" style="top: 26.64%;left:46.66%;"></div>
  <div class="cells yellow" style="top: 33.3%;left:46.66%;"></div>

  <div class="cells" style="top: 0;left:53.32%;"></div>
  <div id="ystart" class="cells yellow star" style="top: 6.66%;left:53.32%;">&#9734;</div>
  <!-- <div class="cells y-pin" style="top: 6.66%;left:53.32%;"></div> -->
  <div class="cells" style="top: 13.32%;left:53.32%;"></div>
  <div class="cells" style="top: 19.98%;left:53.32%;"></div>
  <div class="cells" style="top: 26.64%;left:53.32%;"></div>
  <div class="cells" style="top: 33.3%;left:53.32%;"></div>

  <div class="cells" style="top: 40%; right: 33.3%"></div>
  <div class="cells" style="top: 40%;right:26.64%;"></div>
  <div class="cells" style="top: 40%;right:19.98%;"></div>
  <div class="cells star" style="top: 40%;right:13.32%;">&#9734;</div>
  <div class="cells" style="top: 40%;right:6.66%;"></div>
  <div class="cells" style="top: 40%;right:0;"></div>

  <div class="cells blue" style="top: 46.66%; right: 33.3%"></div>
  <div class="cells blue" style="top: 46.66%;right:26.64%;"></div>
  <div class="cells blue" style="top: 46.66%;right:19.98%;"></div>
  <div class="cells blue" style="top: 46.66%;right:13.32%;"></div>
  <div class="cells blue" style="top: 46.66%;right:6.66%;"></div>
  <div class="cells" style="top: 46.66%;right:0;"></div>

  <div class="cells" style="top: 53.32%; right: 33.3%"></div>
  <div class="cells" style="top: 53.32%;right:26.64%;"></div>
  <div class="cells" style="top: 53.32%;right:19.98%;"></div>
  <div class="cells" style="top: 53.32%;right:13.32%;"></div>
  <div id="bstart" class="cells blue star" style="top: 53.32%;left:86.68%;">&#9734;</div>
  <div class="cells" style="top: 53.32%;right:0;"></div>

  <div class="cells" style="bottom: 0;left:53.32%;"></div>
  <div class="cells" style="bottom: 6.66%;left:53.32%;"></div>
  <div class="cells star" style="bottom: 13.32%;left:53.32%;">&#9734;</div>
  <div class="cells" style="bottom: 19.98%;left:53.32%;"></div>
  <div class="cells" style="bottom: 26.64%;left:53.32%;"></div>
  <div class="cells" style="bottom: 33.3%;left:53.32%;"></div>

  <div class="cells" style="bottom: 0;left:46.66%;"></div>
  <div class="cells red " style="bottom: 6.66%;left:46.66%;"></div>
  <div class="cells red" style="bottom: 13.32%;left:46.66%;"></div>
  <div class="cells red" style="bottom: 19.98%;left:46.66%;"></div>
  <div class="cells red" style="bottom: 26.64%;left:46.66%;"></div>
  <div class="cells red" style="bottom: 33.3%;left:46.66%;"></div>

  <div class="cells" style="bottom: 0;left:40%;"></div>
  <div id="rstart" class="cells red star" style="top: 86.68%;left:40%;">&#9734;</div>
  <div class="cells" style="bottom: 13.32%;left:40%;"></div>
  <div class="cells" style="bottom: 19.98%;left:40%;"></div>
  <div class="cells" style="bottom: 26.64%;left:40%;"></div>
  <div class="cells" style="bottom: 33.3%;left:40%;"></div>

  <div class="cells" style="top: 53.32%; left: 33.3%"></div>
  <div class="cells" style="top: 53.32%;left:26.64%;"></div>
  <div class="cells" style="top: 53.32%;left:19.98%;"></div>
  <div class="cells star" style="top: 53.32%;left:13.32%;">&#9734;</div>
  <div class="cells" style="top: 53.32%;left:6.66%;"></div>
  <div class="cells" style="top: 53.32%;left:0;"></div>

  <div class="cells green" style="top: 46.66%;left: 33.3%"></div>
  <div class="cells green" style="top: 46.66%;left:26.64%;"></div>
  <div class="cells green" style="top: 46.66%;left:19.98%;"></div>
  <div class="cells green" style="top: 46.66%;left:13.32%;"></div>
  <div class="cells green" style="top: 46.66%;left:6.66%;"></div>
  <div class="cells" style="top: 46.66%;left:0;"></div>

  <div *ngFor = "let pin of GameBoard.pins" (click)= " CalculateStep(pin)" class="cells" [ngStyle]="{
    'top': (pin.y * 6.66).toString() + '%',
    'left': (pin.x * 6.66).toString() + '%',
    'pointer-events': (turn==pin.ownerID)?'auto':'none',
    'border':'none',
    'padding':'1.5px'
  }">
<div [ngStyle]="{
  'background-color':getColor(pin.ownerID),
  'mix-blend-mode': 'multiply'
}" class="pin"></div>
</div>

</div>
<div [ngStyle]="{
  'display':'flex',
  'justify-content':'center',
  'padding':'auto'
 }">
<div>

